<?xml version="1.0" ?>
<robot name="aimen_workcell" xmlns:xacro="http://ros.org/wiki/xacro">
    <property name="pi" value="3.141592654"/>

    <link name="world"/>

    <!-- Robot -->
    <xacro:include filename="$(find aimen_workcell)/urdf/abb_robot.xacro"/> <!-- kuka_robot -->

    <joint name="abb_robot" type="fixed"> <!-- kuka_robot -->
        <parent link="world"/>
        <child link="base_link"/>
        <origin xyz="0 0 0.067" rpy="0 0 0"/>
    </joint>

    <!-- Table -->
    <link name="table0">
        <visual>
            <geometry>
                <mesh filename="package://aimen_workcell/meshes/table/table.stl"/>
            </geometry>
            <material name="gray">
                <color rgba="0.4 0.4 0.4 0.8"/>
            </material>
        </visual>
    </link>

    <joint name="table0" type="fixed">
        <parent link="irbp_a250/tool0"/>
        <child link="table0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
    </joint>

    <!-- Cell walls -->
    <link name="walls">
        <visual>
            <geometry>
                <mesh filename="package://aimen_workcell/meshes/cell/cell.stl"/>
            </geometry>
            <origin xyz="0 0 0"/>
            <material name="white">
                <color rgba="1 1 1 0.75"/>
            </material>
        </visual>
    </link>

    <joint name="walls" type="fixed">
        <parent link="world"/>
        <child link="walls"/>
        <origin xyz="0 0 0"/>
    </joint>
</robot>
